ufo, quad, sym {
	display: block;
	float: left;
}

quad {
	border: 1px solid #aaa;
}

sym {
	text-align: center;
}

ufo {
	padding: 20px;
	font-family: monospace;
	/* 100% of ufowrap div */
	width: 100%;
}

sym {
}

.warn {
	background-color: red;
	color: white;
}


.ufowrap { 
	min-width: 480px;
	min-height: 120px;
	width: 25%;
	height: 25%;
	opacity: 0.7;
}
