ufo, quad, row, sym {
	display: block;
	float: left;
}

ufo {
	padding: 20px;
	font-family: monospace;
	/* 100% of ufowrap div */
	width: 100%;
}

/* clear makes the rows stack on top of each other */
row { 
	clear: both;
}

sym {
}

.warn {
	background-color: red;
	color: white;
}


.ufowrap { 
	min-width: 480px;
	min-height: 120px;
	width: 25%;
	height: 25%;
	opacity: 0.7;
}
