ufo, quad, sym {
	display: block;
	float: left;
}

quad {
	border: 1px solid #aaa;
	margin-bottom:2%;
}

sym {
	text-align: center;
	font-size: 16px;
}

xs {
}

ufo {
	padding: 20px;
	font-family: monospace;
	/* 100% of ufowrap div */
	width: 100%;
}

xs,sm { font-family: monospace}

sym { margin-top: 3% }

xs { font-size: 4px; }
sm { font-size: 10px; }

.warn {
	background-color: red;
	color: white;
}

.ufowrap { 
	min-width: 640px;
	min-height: 480px;
	width: 25%;
	height: 25%;
	opacity: 0.7;
	position: absolute;
	top: 100px;
	left: 200px;
}

#divout,#code {
	width: 40%;
	height: 50%;
	float: left;
}
div#divout {
	border: 1px solid #aaa;
	margin: 0 4%;
}

#output {
	border: 1px solid #aaa;
	margin: 4%;
	width:84%;
}
